
.plot-text {
  font-size: 12px;
  color: #333;
  line-height: 1.4;
  margin-top: 10px;
}

.favorite-btn {
  position: absolute;
  bottom: 0px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 48px;
  cursor: pointer;
  color: #9f6ba4;
  transition: color 0.3s ease, transform 0.2s ease;
  z-index: 2;

  &.favorite {
    color: #b789bb;
  }

  &:hover {
    color: #b789bb;
  }
}